<div class="top-row pl-4 navbar navbar-dark">
    <a class="navbar-brand" href="">WoodDomain</a>
    <button class="navbar-toggler" @onclick="ToggleNavMenu">
        <span class="navbar-toggler-icon"></span>
    </button>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <ul class="nav flex-column">
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Home
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="employees">
                <span class="oi oi-plus" aria-hidden="true"></span> Employees
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="chat">
                <span class="oi oi-comment-square" aria-hidden="true"></span> Chat
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="Projects">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Projects
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="customers">
                <span class="oi oi-plus" aria-hidden="true"></span> Customers
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="Reports">
                <span class="oi oi-document" aria-hidden="true"></span> Reports
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="Help">
                <span class="oi oi-question-mark" aria-hidden="true"></span> Help
            </NavLink>
        </li>
    </ul>
</div>

@code {
    private bool collapseNavMenu = true;

    private string NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
