@page "/editproject/{id}"
@inject IJSRuntime JS

<form @onsubmit="uploadProject">
    <div class="card">
        <div class="card-header" style="background-image: linear-gradient( 180deg, rgb(5, 39, 103) 0%, #3a0647 70%);">
            <h5 class="text-white">Edit Project</h5>
        </div>

        <div class="card-body">

            <div class="form-row">
                <div class="form-group col-md-6">
                    <label for="ProjectTitle">Project Title</label>
                    <input type="text" class="form-control" id="projectTitle" placeholder="Project Title" required>
                </div>
                <div class="form-group col-md-6">
                    <label for="CustomerName">Customer</label>
                    <input type="text" class="form-control" id="projectCustomer" placeholder="Project Name" required>
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label for="EmployeeAssign">Employee(s) Assigned to Project:</label>
                    <input type="text" class="form-control" id="projectEmployees" placeholder="John Smith, etc." required>
                </div>
                <div class="form-group col-md-6">
                    <label for="projectStatus">Status</label>
                    <br />
                    <select id="projectStatus" name="Status">
                        <option value="Drawing">Drawing</option>
                        <option value="Estimate">Estimate</option>
                        <option value="Pending">Pending</option>
                        <option value="Accepted">Accepted</option>
                        <option value="Rejected">Rejected</option>
                        <option value="Down Payment">Down Payment</option>
                        <option value="Execution">Execution</option>
                        <option value="Material">Material</option>
                        <option value="Fabrication">Fabrication</option>
                        <option value="Ready to Deliver">Ready to Deliver</option>
                        <option value="Installation">Installation</option>
                        <option value="Final Payment">Final Payment</option>
                    </select>

                </div>
            </div>
            Project Description
            <div class="form-row">
                <div class="form-group col-md-6">
                    <textarea id="projectDescription" rows="5" cols="30"></textarea>
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label for="estimateDueDate">Estimate Due Date</label>
                    <br />
                    <input type="date" id="estimateDueDate" name="Estimate Due Date" class="form-control"
                           value="2021-05-07"
                           min="2018-01-01" max="2100-12-31">
                </div>
                <div class="form-group col-md-6">
                    <label for="installationDate">Installation Date</label>
                    <br />
                    <input type="date" id="installationDate" name="Installation Date" class="form-control"
                           value="2021-05-07"
                           min="2018-01-01" max="2100-12-31">
                </div>
                <div class="form-group col-md-6">
                    <label for="projectDeadline">Project Deadline</label>
                    <br />
                    <input type="date" id="projectDeadline" name="Project Deadline" class="form-control"
                           value="2021-05-07"
                           min="2018-01-01" max="2100-12-31">
                </div>
            </div>
            <button id="submitButton" type="submit" class="btn btn-primary float-right" style="background-image: linear-gradient( 180deg, rgb(5, 39, 103) 0%, #3a0647 70%);">Save</button>
        </div>
    </div>
</form>
@code {

    [Parameter]
    public string Id { get; set; }

    async Task uploadProject()
    {
        await JS.InvokeVoidAsync("uploadProjectToFirebase", Id);

    }
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {

        if (firstRender)
        {
            await JS.InvokeVoidAsync("getProjectFromFirebaseById", Id);
        }

    }
    protected override async Task OnInitializedAsync()
    {
        await JS.InvokeVoidAsync("isLogin");
    }
}
