@page "/login"
@layout WoodDomain.Shared.PlainLayout
@inject IJSRuntime JS;

<div class="container" style="opacity:0.9">
	<div class="row">
		<div class="col-lg-4 col-md-6 ml-auto mr-auto">
			<br />
			<br />
			<div class="card">
				<form class="form" @onsubmit="login" id="account">

					<div class="card-header text-center" style="background-image: linear-gradient( 180deg, rgb(5, 39, 103) 0%, #3a0647 70%);">
						<br />
						<br />
						<br />
						<h6 class="text-white">Welcome to Wood Domain</h6>
						<h4 class="text-white">Login</h4>
					</div>
					<div class="card-body">


						<div class="form-group">


							<label for="inputPassword4">Email</label>
							<input placeholder="username" id="username" type="email" autocomplete="off" class="form-control" required/>


						</div>

						<div class="form-group">

							<label for="inputPassword4">Password</label>
							<input placeholder="Password" type="password" id="password" class="form-control" required/>

						</div>

						<br />
						<p class="text-danger" id="message"></p>
						<div class="text-center">
							<button type="submit" style="background-image: linear-gradient( 180deg, rgb(5, 39, 103) 0%, #3a0647 70%);" class="btn btn-primary btn-block">Login</button>
						</div>
						<a href="/register">Don't have an account? Register Here</a>
					</div>
					

				</form>
			</div>
		</div>
	</div>
</div>






@code { async Task login()
	{
		await JS.InvokeVoidAsync("login");
	}

	protected override async Task OnInitializedAsync()
	{
		await JS.InvokeVoidAsync("redirectToHome");
	}
	}
